<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Kiosco Inteligente</title>

    <link rel="stylesheet"
          href="/static/style.css">

</head>

<body>

<div class="contenedor">

    <div class="panel-izquierdo">

        <h1>KIOSCO IA</h1>

        <button onclick="window.location.href='/login'">
            Ingresar
        </button>

        <button onclick="window.location.href='/registro'">
            Registrar Usuario
        </button>

        <button onclick="window.location.href='/reconocimiento'">
            Reconocimiento Facial
        </button>

    </div>

    <div class="panel-derecho">

        <h2>Cámara en Tiempo Real</h2>

        <div class="camara">

            <img src="/video">

        </div>

    </div>

</div>

</body>
</html>